In [1]:
import pandas as pd

In [2]:
import pandas as pd

df_raw = pd.read_csv(
    "data/intent_data.csv",
    header=None,
    names=["raw"]
)

df_raw.head()

                  raw
0          text,label
1         hi,GREETING
2      hello,GREETING
3        hey,GREETING
4  hey there,GREETING

In [3]:
# Drop rows that look like headers
df_raw = df_raw[~df_raw["raw"].str.lower().isin(["text,label", "text,intent"])]

df_raw.reset_index(drop=True, inplace=True)

df = df_raw["raw"].str.rsplit(",", n=1, expand=True)
df.columns = ["text", "intent"]

df.head()

        text    intent
0         hi  GREETING
1      hello  GREETING
2        hey  GREETING
3  hey there  GREETING
4        hii  GREETING

In [4]:
df["text"] = df["text"].str.strip().str.lower()
df["intent"] = df["intent"].str.strip().str.upper()

# Drop broken rows (just in case)
df = df.dropna()

# Remove duplicates
df = df.drop_duplicates()

df.head()

        text    intent
0         hi  GREETING
1      hello  GREETING
2        hey  GREETING
3  hey there  GREETING
4        hii  GREETING

In [5]:
print("Total samples:", len(df))
print(df["intent"].value_counts())

Total samples: 1406
intent
ADD_ITEM                    253
UNKNOWN                     233
REMOVE_ITEM                 202
KNOWLEDGE_CHECK_QUESTION    177
SUGGEST_FOOD                162
GREETING                    138
SHOW_CART                   131
CONFIRM_ORDER               110
Name: count, dtype: int64